// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
	background-color: rgba(64,81,97,.95);
	
	a{
	  letter-spacing: 1.9px;
	  font-weight: 700;
	  color: #fff;
	  font-size: 25px;
	}

}

.btn-class{
	   float:right;
}